body {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    background-color: black;
    text-align: center;
}

.header {
    flex: .5;
}

.content {
    display: flex;
    flex-direction: row;
    flex: 9;
}

.photobg {
    background: url(../images/photobg.png) right no-repeat;
    background-size: contain;
    flex: 1;
    margin-left: auto;
    margin-right: -2.7em;
    transition: transform .2s;
}

.photobg:hover {
    transform: scale(1.1);
    z-index: 1;
}

.photocontent h1 {
    color: black;
}

.techbg {
    background: url(../images/techbg.png) left no-repeat;
    filter: grayscale(100%);
    background-size: contain;
    margin-left: -2.7em;
    margin-right: auto;
    flex: 1;
    transition: transform .2s;
}

.techbg:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

h1,
h4 {
    color: white;
}

.footer {
    margin-top: 1em;
    flex: .5;
}

.copyright {
    position: absolute;
    bottom: 0;
}

@media (max-width: 480px) {}