    html,
    body {
        margin: 0;
        padding: 0;
        background-color: white;
        text-align: center;
    }
    
    ul {
        padding: 0;
        list-style: none;
    }
    /* Mobile navigation menu */
    
    .mobilenav ul {
        list-style: none;
        text-align: center;
    }
    
    .mobilenav li {
        background-color: black;
        padding: 12px;
        border: 1px solid white;
        border-radius: 2px;
    }
    
    .mobilenav li a {
        color: white;
        text-decoration: none;
    }
    
    .mobilenav #myLinks {
        display: none;
        position: absolute;
        right: 30px;
        top: 45px;
        z-index: 1;
    }
    
    .mobilenav a.icon {
        display: none;
        position: absolute;
        right: 30px;
        top: 33px;
        color: black;
        padding: 3px 5px;
        border: 1px solid black;
        z-index: 2;
        border-radius: 2px;
        background-color: white;
    }
    
    #mobile-subnav {
        letter-spacing: 3px;
        background-color: white;
        color: black;
    }
    /* End of Mobile Navigation */
    
    header {
        background-image: linear-gradient(gray, white);
        font-family: "Amatic SC", cursive;
    }
    
    header img {
        height: auto;
        width: 40vw;
        margin-top: 30px;
        cursor: pointer;
    }
    /* Desktop navigation menu */
    
    .navbar {
        width: 45%;
        margin: auto;
    }
    
    .navbar a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: aquamarine;
        height: 30px;
        font-size: 30px;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0px 5px;
        border-radius: 10px;
        padding: 10px 0;
    }
    
    .navbar a:visited {
        color: black;
    }
    
    .navbar a:hover {
        background-color: yellow;
    }
    
    .navbar ul {
        display: flex;
    }
    
    .navbar li {
        position: relative;
        width: 100%;
        text-align: center;
    }
    
    .navbar li:hover .subnav-content>li {
        display: block;
        top: 0;
    }
    
    .subnav-content li {
        display: none;
        position: relative;
    }
    
    .subnav-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    /* End of desktop navigation menu */
    
    .content {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 1.5vw auto;
        height: auto;
    }
    
    .content h1 {
        font-size: 5vw;
        letter-spacing: 5px;
        font-family: "Kristi", cursive;
    }
    
    ul.maintitle>li {
        color: black;
        text-align: center;
        font-size: 4vw;
        font-family: "Amatic SC", cursive;
        background-color: yellow;
    }
    
    ul.category>li {
        background-color: black;
        color: white;
        text-align: left;
        font-size: 3vw;
        font-family: "Oswald", sans-serif;
    }
    
    ul.category>ul>li {
        color: black;
        text-align: right;
        font-size: 2vw;
        font-family: "Oswald", sans-serif;
    }
    
    .price {
        color: aquamarine;
        float: right;
    }
    
    #aboutMe li {
        color: white;
        text-decoration: none;
        text-align: right;
    }
    
    #aboutMe {
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    
    #aboutMe .left h1 {
        padding-left: 20px;
    }
    
    #aboutMe p {
        font-family: "Oswald", sans-serif;
        letter-spacing: 1px;
        font-size: 2.5vw;
    }
    
    #aboutMe .left {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: left;
        margin: auto 2vw;
    }
    
    .right {
        margin: auto 2vw;
    }
    
    .right img {
        height: auto;
        width: 15vw;
        transform: rotate(10deg);
    }
    
    .bottomtext {
        font-family: "Kristi", cursive;
        letter-spacing: 5px;
        border-bottom: 5px solid yellow;
    }
    
    #favoritePicks {
        width: 75%;
        display: flex;
        margin: auto;
    }
    
    #favoritePicks img {
        margin: 5% auto;
        width: 30vw;
    }
    
    footer div ul>li {
        font-family: "Amatic SC", cursive;
        color: aquamarine;
        font-size: 3vw;
    }
    
    footer div ul ul>li,
    footer a {
        font-family: "Architects Daughter", cursive;
        text-decoration: none;
        color: yellow;
        font-size: 1.5vw;
    }
    
    footer {
        display: flex;
        width: 100%;
        background-color: black;
    }
    
    footer div {
        flex: 1;
    }
    
    @media (max-width: 426px) {
        .mobilenav a.icon {
            display: block;
        }
        .navbar {
            display: none;
        }
        .content {
            flex-direction: column;
            width: 90%;
            margin: 1.5vw auto;
        }
        footer {
            flex-direction: column;
        }
        footer div ul>li {
            font-size: 6vw;
        }
        footer a {
            font-size: 3vw;
        }
    }