body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    text-align: center;
    margin: auto;
}

.header {
    background-color: darkgrey;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 2em;
    letter-spacing: 2px;
}

.header h1 {
    margin: 10px auto;
}

.content {
    display: flex;
    flex-direction: row;
    height: 42vw;
    width: 94%;
    margin: auto;
}

.content_text {
    margin: 1vw 0 -.3vw -8vw;
}

.photobg {
    background: url(../images/photobg.png) right no-repeat;
    filter: grayscale(100%);
    background-size: contain;
    flex: 1;
    margin-left: auto;
    margin-right: -2.5vw;
    transition: transform .2s;
    font-family: 'Kristi', cursive;
    letter-spacing: .2em;
}

.photobg:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.photocontent h1 {
    margin-top: 35%;
    margin-left: 15%;
    color: yellow;
}

.content h1 {
    font-size: 7vw;
    background-color: rgba(0, 0, 0, 0.5);
    width: 4em;
    border: 10px solid rgba(255, 255, 255, 0);
    border-radius: 15px;
}

.techbg {
    background: url(../images/techbg.png) left no-repeat;
    filter: grayscale(100%);
    background-size: contain;
    margin-left: -2.5vw;
    margin-right: auto;
    flex: 1;
    transition: transform .2s;
    font-family: 'Press Start 2P', cursive;
}

.techbg:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.techbg h1 {
    margin-top: 36%;
    margin-left: 25%;
    color: black;
    -webkit-text-stroke: 1px aquamarine;
}

h2,
h4 {
    color: rgb(167, 154, 154);
    font-family: 'Big Shoulders Stencil Display', cursive;
    letter-spacing: 2px;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

.footer {
    background-color: darkgrey;
}

.footer h4 {
    margin: 10px auto;
}

.copyright {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 480px) {}